<!DOCTYPE html>
<html>
  <head>
    <title>OptPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if rodauth.logged_in? %>
      <%= link_to "Sign out", rodauth.logout_path, data: { turbo_method: :post } %>
    <% else %>
      <%= link_to "Sign in", rodauth.login_path %>
      <%= link_to "Sign up", rodauth.create_account_path %>
    <% end %>

    <%= render 'notification' %>
    <%= yield %>
  </body>
</html>
